node_modules/
__pycache__/
*.pyc
.env
backend/.env
frontend/.env
uploads/
build/
dist/
.DS_Store
*.log
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/10.pack
